* {
    margin: 0;
    padding: 0%;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

#main {
    height: 800px;
}

/* headings */

header {
    background: yellowgreen;
}

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #252525;
}

#main-heading {
    float: left;
    font-size: 260%;
    margin: 20px;
}

#nav-headings {
    font-size: 110%;
    letter-spacing: 2px;
}

#nav-headings li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#nav-headings a {
    text-decoration: none;
    color: inherit;
}

#nav-headings a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#main-headings,
#nav-headings {
    line-height: 75px;
}

/* Main Image */

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/Staffies.jpg) no-repeat center center;
    overflow: hidden;
}

/* About Staffies */

#center-about {
    text-align: center;
    font-size: 200%;
    padding-bottom: 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
    width: 100%;
}

#about-staffies {
    height: 800px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
}

.left-about-heading {
    width: 80%;
    float: right;
    clear: both;
    line-height: 20px;
    margin: 20px;
}

#right-about {
    height: 400px;
    width: 400px;
    border: 1px solid #3a3a3a;
    border-radius: 50%;
    margin: 100px 250px 0 0;
    float: right;
    background: url(../images/babystaffy.PNG) no-repeat center center;
}

/* Our Staffies */

#center-our {
    text-align: center;
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 50px;
}

#our-staffies {
    height: 800px;
}

#left-dog-picture {
    float: left;
    height: 250px;
    width: 200px;
    border: 1px solid #3a3a3a;
    margin-left: 12%;
}

#right-dog-picture {
    float: right;
    height: 250px;
    width: 200px;
    border: 1px solid #3a3a3a;
    margin-right: 12%;
}

#center-dog-picture {
    height: 250px;
    width: 200px;
    border: 1px solid #3a3a3a;
    margin: 0 auto;
}

.left-dog h3 {
    margin-bottom: 10px;
}

.right-dog h3 {
    margin-bottom: 10px;
}

.center-dog h3 {
    margin-bottom: 10px;
}

h3 {
    text-align: center;
}

.left-dog {
    padding-top: 20px;
    padding-left: 50px;
    width: 30%;
    float: left;
    line-height: 20px;
}

.right-dog {
    padding-top: 20px;
    padding-right: 50px;
    float: right;
    width: 30%;
    line-height: 20px;
}

.center-dog {
    padding-top: 20px;
    width: 30%;
    margin: 0 auto;
    line-height: 20px;
}

img {
    height: 250px;
    width: 200px;
    transition: transform 0.4s ease;
    /* Slows hover effect */
}

img:hover {
    transform: scale(1.2);
    /* Adds hover to adoption staffy images */
}

ul {
    padding-top: 20px;
}

/* Adopt a Staffy Form */


#center-adopt {
    text-align: center;
    font-size: 200%;
}

#adopt-a-staffy {
    padding-top: 100px;
    height: 800px;
    text-align: center;
}

form {
    max-width: 700px;
    max-height: 800px;
    margin: 0 auto;
    background-color: rgb(255, 0, 140);
    background-size: cover;
    background-position: center
}

#asap {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.form-group {
    margin: 20px 0 5px 0;
    display: block;
    background: transparent;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    width: 350px;
}

input[type="submit"] {
    background-color: yellowgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background: green;
    display: block;
}

/* Footer */

footer {
    background-color: yellowgreen;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin-top: 1%;
    padding: 5%;
    color: #3a3a3a;
    cursor: pointer;
    transition: transform 0.4s ease;
    /* Slows hover effect */
}

.social-media i:hover {
    transform: scale(1.2);
    /* Adds hover to social media links */
}

footer h3 {
    text-align: center;
    font-size: 140%;
    padding-top: 100px;
}

footer>p {
    text-align: center;
    padding: 5px;
    margin: 5px;
}