* {
    margin: 0;
    padding: 0%;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

p {
    line-height: 1.5;
    color: black;
}

#main {
    height: 800px;
    background-color: #B35642
}

/* headings */

header {
    background-color: #B35642
}

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #252525;
}

#main-heading {
    float: left;
    font-size: 260%;
    margin: 20px;
    color: white;
}

#second-heading {
    color: white;
    float: left;
    margin-top: 80px;
    text-align: center;
}

h1>p {
    color: white;
    font-size: 40%;
    padding-top: 15px;
}

#nav-headings {
    font-size: 110%;
    letter-spacing: 2px;
    color: white;
}

#nav-headings li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#nav-headings a {
    text-decoration: none;
    color: inherit;
}

#nav-headings a:hover {
    border-bottom: 1px solid white;
}

#main-headings,
#nav-headings {
    line-height: 75px;
}

/* Main Image */

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/Staffymain.jpeg) no-repeat center center;
    overflow: hidden;
    padding-top: 60px;
    border-radius: 10px;
}

/* About Staffies */

#center-about {
    text-align: center;
    font-size: 200%;
    padding: 100px 0 30px 0;
    color: black;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
    width: 100%;
}

#about-staffies {
    height: 800px;
}

#left-about {
    padding-top: 20px;
    width: 50%;
    float: left;
}

.left-about-heading {
    width: 80%;
    float: right;
    clear: both;
    line-height: 20px;
    margin: 20px;
}

/* Image for About Staffies section */

#right-about {
    height: 400px;
    width: 400px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 100px 250px 0 0;
    float: right;
    background: url(../images/babystaffy.PNG) no-repeat center center;
}

/* Our Staffies */

#center-our {
    text-align: center;
    font-size: 200%;
    padding: 60px 0 50px 0;
    color: black;
}

#our-staffies {
    height: 800px;
}

#left-dog-picture {
    float: left;
    height: 250px;
    width: 200px;
    border: 1px solid white;
    margin-left: 12%;
    border-radius: 10px;
}

#right-dog-picture {
    float: right;
    height: 250px;
    width: 200px;
    border: 1px solid white;
    margin-right: 12%;
    border-radius: 10px;
}

#center-dog-picture {
    height: 250px;
    width: 200px;
    border: 1px solid white;
    margin: 0 auto;
    border-radius: 10px;
}

.round-image {
    border-radius: 10px;
}

.left-dog h3 {
    margin-bottom: 10px;
}

.right-dog h3 {
    margin-bottom: 10px;
}

.center-dog h3 {
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    color: black;
}

.left-dog {
    padding-top: 20px;
    padding-left: 50px;
    width: 30%;
    float: left;
    line-height: 20px;
}

.right-dog {
    padding-top: 20px;
    padding-right: 50px;
    float: right;
    width: 30%;
    line-height: 20px;
}

.center-dog {
    padding-top: 20px;
    width: 30%;
    margin: 0 auto;
    line-height: 20px;
}

img {
    height: 250px;
    width: 200px;
    transition: transform 0.4s ease;
    /* Slows hover effect */
}

img:hover {
    transform: scale(1.2);
    /* Adds hover to adoption staffy images */
}

ul {
    padding-top: 20px;
}

/* Adopt a Staffy Form */


#center-adopt {
    text-align: center;
    font-size: 200%;
    color: black;
    padding: 50px 0 10px 0;
}

#adopt-a-staffy {
    height: 800px;
    text-align: center;
}

form {
    max-width: 500px;
    max-height: 800px;
    margin: 0 auto;
    background-color: #B35642;
    background-size: cover;
    background-position: center;
    color: white;
}

#asap {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.form-group {
    margin: 20px 0 5px 0;
    display: block;
    background: transparent;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    width: 400px;
}

input[type="submit"] {
    background-color: #b42e10;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background: rgb(0, 128, 85);
    display: block;
}

/* Footer */

footer {
    background-color: #B35642;
    height: 600px;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin-top: 1%;
    padding: 5%;
    color: white;
    cursor: pointer;
    transition: transform 0.4s ease;
    /* Slows hover effect */
}

.social-media i:hover {
    transform: scale(1.2);
    /* Adds hover to social media links */
}

footer h3 {
    text-align: center;
    font-size: 150%;
    padding-top: 100px;
    color: white;
}

footer>p {
    text-align: center;
    font-size: 120%;
    padding: 5px;
    margin: 5px;
    color: white;
}

/* Media queries */

/* For extra large devices (large laptops and desktops, 1200px and down) */

@media screen and (max-width: 1200px) {
    header {
        text-align: center;
    }

    #main-image {
        width: 100%;
        height: 65%;
    }

    #main-heading {
        font-size: 25px
    }

    body {
        font-size: 15px;
    }

    #nav-headings ul {
        display: flex;
        flex-direction: row;
        float: right;
    }

    #left-about {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    #right-about {
        margin: 250px 180px 0 0;
    }
}

#our-staffies {
    margin-top: 150px;
}

#left-dog-picture,
#right-dog-picture,
#center-dog-picture {
    display: flex;
    flex-direction: row;
}

#adopt-a-staffy {
    padding-top: 120px;
}


/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {

    header {
        font-size: 20px;
        padding: 20px;
    }

    #second-heading {
        font-size: 90%;
        float: left;
    }

    #nav-headings {
        font-size: 80%;
        clear: left;
        float: left;
    }

    body {
        font-size: 15px;
    }

    #main-image {
        width: 100%;
    }

    #left-staffies {
        display: flex;
        flex-direction: column;
    }

    #right-about {
        display: flex;
        flex-direction: row;
        margin: 200px 50px 0 0;
    }

    #our-staffies {
        padding-top: 120px;
    }

    #adopt-a-staffy {
        padding-top: 200px;
    }

    hr {
        display: none;
    }
}

/* For medium screen sizes from 600px wide and down */

@media screen and (max-width: 600px) {
    #main-heading {
        margin: 0 auto;
        font-size: 24px;
        float: left;
        margin-bottom: 40px;
    }

    #second-heading {
        margin: 0 auto;
        text-align: center;
    }

    #nav-headings {
        text-align: center;
    }

    #main-image {
        height: 400px;
        width: 100%;
    }

    #left-about {
        width: 100%;
    }

    #right-about {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #left-dog-picture,
    #right-dog-picture,
    #center-dog-picture {
        display: flex;
        flex-direction: row;
        width: 60px;
        height: 80px;
        margin: 0 auto;
    }

    .left-dog,
    .right-dog,
    .center-dog {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
    }
}