* {
    margin: 0;
    padding: 0%;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings */

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #252525;
}

#main-heading {
    float: left;
    font-size: 260%;
    margin: 20px;
}

#nav-headings {
    font-size: 110%;
    letter-spacing: 2px;
}

#nav-headings li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#nav-headings a {
    text-decoration: none;
    color: inherit;
}

#nav-headings a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#main-headings,
#nav-headings {
    line-height: 75px;
}

/* Main Image */

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/Staffies.jpg) no-repeat center center;
    overflow: hidden;
}

/* About Staffies */

#center-about {
    text-align: center;
    margin-top: 40px;
    font-size: 200%;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
    width: 100%;
}

#about {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
}

.left-about-heading {
    width: 80%;
    float: right;
    clear: both;
    line-height: 20px;
    margin: 20px;
}

#right-about {
    height: 400px;
    width: 400px;
    border: 1px solid #3a3a3a;
    border-radius: 50%;
    float: right;
    margin-right: 10%;
    background: url(../images/babystaffy.PNG) no-repeat center center;
}

/* Our Staffies */

#center-our {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 200%;
}

#our {
    height: 800px;
}

#left-dog-picture {
    float: left;
    height: 250px;
    width: 200px;
    border: 1px solid #3a3a3a;
    margin-left: 200px;
}

.left-dog {
    float: left;
    text-align: center;
    margin-left: 250px;
    margin-top: 30px;
}

#right-dog-picture {
    float: right;
    height: 250px;
    width: 200px;
    border: 1px solid #3a3a3a;
    margin-right: 200px;
}

.right-dog {
    float: right;
    text-align: center;
    margin-right: 250px;
    margin-top: 30px;
}

#center-dog-picture {
    height: 250px;
    width: 200px;
    border: 1px solid #3a3a3a;
    margin: 0 auto;
}

.center-dog {
    text-align: center;
    margin-top: 30px;
}