* {
    margin: 0;
    padding: 0%;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings */

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #252525;
}

#main-heading {
    float: left;
    font-size: 260%;
    margin-left: 20px;
}

#nav-headings {
    font-size: 110%;
    letter-spacing: 2px;
}

#nav-headings li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#nav-headings a {
    text-decoration: none;
    color: inherit;
}

#nav-headings a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#main-headings,
#nav-headings {
    line-height: 75px;
}

/* Main Image */

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/Staffies.jpg) no-repeat center center;
    overflow: hidden;
}