* {
    margin: 0;
    padding: 0%;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

#main {
    height: 800px;
}

/* headings */

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #252525;
}

#main-heading {
    float: left;
    font-size: 260%;
    margin: 20px;
}

#nav-headings {
    font-size: 110%;
    letter-spacing: 2px;
}

#nav-headings li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#nav-headings a {
    text-decoration: none;
    color: inherit;
}

#nav-headings a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#main-headings,
#nav-headings {
    line-height: 75px;
}

/* Main Image */

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/Staffies.jpg) no-repeat center center;
    overflow: hidden;
}

/* About Staffies */

#center-about {
    text-align: center;
    margin-top: 40px;
    font-size: 200%;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
    width: 100%;
}

#about-staffies {
    height: 900px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
}

.left-about-heading {
    width: 80%;
    float: right;
    clear: both;
    line-height: 20px;
    margin: 20px;
}

#right-about {
    height: 400px;
    width: 400px;
    border: 1px solid #3a3a3a;
    border-radius: 50%;
    margin: 10%;
    float: right;
    background: url(../images/babystaffy.PNG) no-repeat center center;
}

/* Our Staffies */

#center-our {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 200%;
}

#our-staffies {
    height: 900px;
}

#left-dog-picture {
    float: left;
    height: 250px;
    width: 200px;
    border: 1px solid #3a3a3a;
    margin-left: 150px;
}

#right-dog-picture {
    float: right;
    height: 250px;
    width: 200px;
    border: 1px solid #3a3a3a;
    margin-right: 150px;
}

#center-dog-picture {
    height: 250px;
    width: 200px;
    border: 1px solid #3a3a3a;
    margin: 0 auto;
}

.left-dog h3 {
    margin-bottom: 10px;
}

.right-dog h3 {
    margin-bottom: 10px;
}

.center-dog h3 {
    margin-bottom: 10px;
}

h3 {
    text-align: center;
}

.left-dog {
    padding-top: 20px;
    padding-left: 20px;
    width: 30%;
    float: left;
    line-height: 20px;
}

.right-dog {
    padding-top: 20px;
    padding-right: 20px;
    float: right;
    width: 30%;
    line-height: 20px;
}

.center-dog {
    padding-top: 20px;
    width: 30%;
    margin: 0 auto;
    line-height: 20px;
}

img {
    height: 250px;
    width: 200px;
}

ul {
    padding: 10px;
}

/* Adopt a Staffy */

#center-adopt {
    text-align: center;
}

#adopt-a-staffy {
    height: 600px;
    text-align: center;
}

#asap {
    margin-top: 50px;
}

/* Footer */

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin-top: 1%;
    padding: 5%;
    color: #3a3a3a;
}

footer h3 {
    text-align: center;
}

footer>p {
    text-align: left;
    padding: 5px;
    margin: 5px;
}

#asap {
    text-align: center;
    padding: 20px;
    margin: 20px;
}